<meta charset="UTF-8">
<div ng-controller="exImportCtrl" ng-init="init()">
	<div class=" content-header font-style1" >
		<span class="margin-left-style1">XR平台 / 小功能 / 导入、导出服务/</span>
	</div>
	<div>
	
		<form method="post" enctype="multipart/form-data" name="myform">
			<table border="solid">
				<caption class="info-center">说明：导入的文件类型只能是excel对应的文件格式</caption>
				<tr>
					<td class="td-backcolor">要导入到的表：</td>
					<td>
						<select ng-model="importTableName" id="importTableName">
							<option value="">-请选择-</option>
							<option value="{{tableInf.tableName}}" ng-repeat="tableInf in tableInfs">{{tableInf.tableNameCn}}</option>
						</select>
					</td>
					<td class="td-backcolor">要导入的文件：</td>
					<td class="td-file"><input type="file" name="fileName" id="fileName" /></td>
					<td class="td-backcolor-ora">
						<input type="submit" value="导入文件" ng-click="importFile()" class="td-backcolor-ora"/>
					</td>
					<td class="td-backcolor">
						导入状态
					</td>
					<td>
						<input type="text" ng-model="importStatu" readonly="readonly" class="input-center"/>
					</td>
				</tr>
			</table>
			
			<p>{{importTableName}}</p>
		</form>
	</div>
	
	<div class="cut-off-line"></div>
	
	<div  class="export-bar">
		<table border="solid">
			<caption class="info-center">说明：导出的文件时表、文件名、文件类型必须都有值，否则不能导出操作</caption>
			<tr>
				<td class="td-backcolor">要导出到的表：</td>
				<td>
					<select ng-model="exportTableName" id="exportTableName" ng-change="searchFieldInf()">
						<option value="">-请选择-</option>
						<option value="{{tableInf.tableName}}" ng-repeat="tableInf in tableInfs">{{tableInf.tableNameCn}}</option>
					</select>
				</td>
				
				<td class="td-backcolor">文件名：</td>
				<td colspan="1">
					<input type="text" ng-model="exportFileName" id="exportFileName" readonly="readonly"/>
				</td>
				
				<td class="td-backcolor-ora" rowspan="100">
					<input type="submit" value="导出文件" ng-click="exportFile()" class="td-backcolor-ora"/>
				</td>
			</tr>
			
			<tr ng-if="exportTableName!=''">
				<td>全选&nbsp;<input  type="checkbox" checked class="field-input" /></td>
				<td colspan="3" style="font-weight: bolder;">请选择要导出到文件的字段信息</td>
			</tr>
			<tr ng-if="exportTableName!=''"><td colspan="4" class="set-off-td"></td></tr>
			<tr  ng-repeat="tableFieldInf in tableFieldInfs" ng-if="tableFieldInf.isShow=='1'" class="field-tr">
				<td colspan="1">
					<input  type="checkbox" name="fieldName"  class="field-input" checked value="{{tableFieldInf.fieldName}}"/>
				</td>
				<td colspan="1">
					{{tableFieldInf.fieldName}}
				</td>
				<td colspan="2">
					{{tableFieldInf.fieldNameCn}}
				</td>
			</tr>
			<tr ng-if="exportTableName!=''"><td colspan="4" class="set-off-td"></td></tr>
			
			<tr>
				<td class="td-backcolor">文件类型：</td>
				<td class="td-file">
					<select ng-model="exportFileType">
						<option value="">-请选择-</option>
						<option value="{{fileType.cfgValue}}" ng-repeat="fileType in fileTypes">{{fileType.cfgValue}}</option>
					</select>
				</td>
				
				<td class="td-backcolor">
					导出进度
				</td>
				<td colspan="1">
				</td>
			</tr>
		</table>
		
		<p>{{exportTableName}}</p>
	</div>
</div>